<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473766307034-ksr5tg2urm3esu2gi6bsmve9hbubi02c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473766307034-ksr5tg2urm3esu2gi6bsmve9hbubi02c</string>
	<key>API_KEY</key>
	<string>AIzaSyAjaskraC_WcMkjErTtyCQlCvA3vrzloQU</string>
	<key>GCM_SENDER_ID</key>
	<string>473766307034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.romutec.flutterUdpLifecycle</string>
	<key>PROJECT_ID</key>
	<string>udplifecycle</string>
	<key>STORAGE_BUCKET</key>
	<string>udplifecycle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473766307034:ios:c29a20df4c1bf6ddad71e3</string>
</dict>
</plist>